@import url('https://fonts.googleapis.com/css2? family= Aboreto & family= Bebas+Neue & familia = Cinzel &family= Montserrat+Suplentes:wght@200 &family= Oswald:wght@300;400 & family= Roboto:wght@400;500 & mostrar=cambiar');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&family=Cinzel&family=Montserrat+Alternates:wght@200&family=Oswald:wght@300;400&family=Roboto:wght@400;500&display=swap');

.colorheader{
    background-color:#BF9B77;
  
}


.imagenlogo{
    width: 100px;
    height: 90px;
    }

.imagenlogo:hover{
    width: 130px;
    height: 110px;
}

h1{
    color:#434343;
    font-family: 'Cinzel', serif;
    font-size: 60px;
}

.h1div{
    background-color: #BF9B77;
}

li{
    font-size:18px;
    font-weight: bold;
    color:#434343;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

li:hover{
    font-size: 20px;
}

.imagencarousel{
    object-fit:cover;
    height: 450px;
    width: 100%;
}

.imagen2 {
    border-radius: 20px;
    width: 400px;
    height: 500px; 
    object-fit: contain; 
}

.imagen2:hover{
    width: 450px;
    height: 500px;
}

.ig {
    width: 40px;
    height: 40px;

}

.fb {
    width: 40px;
    height: 40px;

}

.titulo{
    font-weight: bold;
    color:#434343;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

.parrafo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

}


button:hover{
    width: 180px;
    height: 60px;
}

a{
    text-decoration: none;
    color:#434343;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quienesomos{
    width: 150%;
    height: 150%;
    border-radius: 8px;
}